.search {
  border: 1px solid #efefef;
  border-radius: 10px;
  background: #fcfcfd;
  padding: 16px 18px;
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  margin-left: auto;

  &__input {
    min-width: 182px;
    font-size: 14px;

    &::placeholder {
      color: #9AA0B4;
    }
  }

  &__clear {
    position: absolute;
    right: 18px;
    top: 16px;
    width: 20px;
    cursor: pointer;
  }
}