@import './fonts.scss', './common/AuthLayout.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'OpenSans';
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button,
input,
textarea {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  font-family: 'OpenSans';
  color: inherit;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.container {
  width: 80%;
  padding: 0 60px;
  margin: 40px 0;
}